<h1><%= @flower_spot.name %> の詳細</h1>

<p>
  <strong>名前:</strong>
  <%= @flower_spot.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @flower_spot.address %>
</p>

<p>
  <% if @flower_spot.photos.attached? %>
    <%= image_tag @flower_spot.photos.first %>
  <% end %>
</p>

<% if @flower_spot.user == current_user || (current_user&.admin?) %>
  <%= link_to 'このお花畑を編集する', edit_flower_spot_path(@flower_spot) %>
<% end %>
