<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-pink-50">
    <header>
      <%= render "shared/header" %>
    </header>
    <main class="container mx-auto px-4 py-8">
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </main>

    <% if Rails.application.credentials.Maps_api_key %>
      <script async src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.Maps_api_key %>&libraries=marker,places&v=beta"></script>
    <% else %>
      <script>console.warn("Google Maps APIキーが Rails Credentials に設定されていません。地図機能は動作しません。");</script>
    <% end %>
  </body>
</html>
